<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <title>Shin Fujito</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
   
    <!--<script src="{{url_for('static',filename='js/scroll.js')}}" defer></script>-->
    <script src="static/js/scroll.js" defer></script>
    
</head>
<body>
    <header class="page-header wrapper">
        <h1><a href ='/'><img class='logo' src="static/images/logo4.png" alt="Shin Fujito's portfolio"></a></h1>
        <nav>
            <ul class='header-navigator'>
                <li><a href = ''>About</a></li>
                <li><a href = ''>Biography</li>
                <li><a href = ''>Works</li>
                <li><a href = ''>Contact</li>
            </ul>
        </nav>
    </header>

    <div>
        <h3 class='top-img'><a href = '/'><img src='static/images/top_image.jpg' alt = "Shin Fujit's portfolio"></a>
    </div>

    <main>
        <h2><a href =''>About</a></h2>
            <p>text</p>
            <p>過去の作品は<a href=''>こちら</a>から</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>

        <h2>Biography</h2>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
        <h2>Works</h2>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
        <nav class='notified'>
            <ul>
                <li><a href = 'animal_classifier.html'>Animal classifier</a></li>
                <li><a href = ''>topic2</a></li>
                <li><a href = ''>topic3</a></li>
                <li><a href = ''>topic4</a></li>
            </ul>
        </nav>

        <h2>Contact</h2>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
            <p>text</p>
    <main>

    <footer>
        <nav>
            <ul>
                <li><a href=''>About</a></li>
                <li><a href=''>Biography</a></li>
                <li><a href=''>Works</a></li>
                <li><a href=''>Contact</a></li>
            </ul>
        </nav>
    
        <p>copy right</p>
        <div id='page_top'><a href='#'></a>


    </footer>

</body>
</html>

